body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #000080; /* Navy Blue */
}

header {
  background-color: #4682b4; /* Steel Blue */
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
}

.project {
  background-color: #e6f2ff;
  border: 1px solid #b0c4de;
  padding: 10px;
  margin-bottom: 10px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #4682b4;
}

form button {
  background-color: #386283;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

footer {
  background-color: #4682b4;
  color: white;
  text-align: center;
  padding: 10px;
}
header h1 {
  animation: fadeInDown 1.5s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}